body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #1B244A;
    -webkit-user-select: none;
    user-select: none;
    
}
@font-face {
    font-family:'Cursed Timer ULiL';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.motherbox{
    text-align: center;
    margin: auto auto;
}
.box {
    background-color: #180000;
    margin: auto auto;
    width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: "Cursed Timer ULiL";
    color: red;
}
.btn {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    border: 1px solid #9AABD8;
    color:whitesmoke ;
     font-family: "Cursed Timer ULiL";
}
.btn:hover {
    cursor: pointer;
    background-color: #2c3761;
}
