body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #1B244A;
    -webkit-user-select: none;
    user-select: none;
}
@font-face {
    font-family:'Cursed Timer ULiL';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container {
    display: flex;
    justify-content: space-around;
    gap: 1px;
}
.motherbox{
    text-align: center;
    margin: auto auto;
}
.box {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #180000;
    margin: auto auto;
    width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: "Cursed Timer ULiL";
    color: red;
}
.league {
    margin-top: 30px;
    width: 40%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
}
h3 {
    color: azure;
    font-size: x-large;
    font-family: 'Bebas Neue',sans-serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 20px;
}
.btn {
    box-shadow:0px 10px 30px -5px rgba(245, 245, 245, 0.543);
    margin-top: 20px;
    width: 45px;
    height: 45px;
    background-color: #309032;
    border: 1px solid #9AABD8;
    color:whitesmoke ;
     font-family: "Cursed Timer ULiL";
}
.btn:hover {
    cursor: pointer;
    background-color: #4bcb5a;
    box-shadow:0px 10px 50px -1px rgba(255, 246, 180, 0.543);
    border: 2px solid #9AABD8;
}
#resetkawan {
    width: 70px;
    background-color: #d31c1c;
    box-shadow:0px 10px 50px -1px rgba(255, 0, 0, 0.543);
}
#resetkawan:hover {
    background-color: darkred; 
    box-shadow:0px 10px 50px -1px rgba(255, 246, 180, 0.543);
} 
#resetlawan {
    background-color: #d31c1c;
    width: 70px;
    box-shadow:0px 10px 50px -1px rgba(255, 0, 0, 0.543);
}
#resetlawan:hover {
    background-color: darkred;
    box-shadow:0px 10px 50px -1px rgba(255, 246, 180, 0.543);
}