body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #1B244A;
    -webkit-user-select: none;
    user-select: none;
    
}
@font-face {
    font-family:'Cursed Timer ULiL';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.motherbox{
    text-align: center;
    margin: auto auto;
}
.box {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #180000;
    margin: auto auto;
    width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: "Cursed Timer ULiL";
    color: red;
}

h3 {
    color: azure;
    font-size: x-large;
}
.btn {
    box-shadow:0px 10px 30px -5px rgba(245, 245, 245, 0.543);
    margin-top: 20px;
    width: 45px;
    height: 45px;
    background-color: #309032;
    border: 1px solid #9AABD8;
    color:whitesmoke ;
     font-family: "Cursed Timer ULiL";
}
.btn:hover {
    cursor: pointer;
    background-color: #4bcb5a;
    box-shadow:0px 10px 50px -1px rgba(255, 246, 180, 0.543);
    border: 2px solid #9AABD8;
}
#resetkawan {
    width: 70px;
    background-color: #d31c1c;
}
#resetkawan:hover {
    background-color: darkred; /
} 
#resetlawan {
    background-color: #d31c1c;
    width: 70px;
}
#resetlawan:hover {
    background-color: darkred;
}