body {
    display: block;
margin: 0;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: none;
    cursor:text ;
}

@font-face {
    font-family:'Cursed Timer ULiL';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container {
    display: flex;
    justify-content: space-around;
    gap: 1px;
    background: linear-gradient(45deg,#1B244A,#444e79);
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/336/935/non_2x/basketball-background-illustration-ai-generative-free-photo.jpg) ;
    min-height: 100vh;
     background-repeat: no-repeat;
    background-position: center;
     background-size: cover;
    background-attachment: scroll;
    -webkit-backdrop-filter: blur(39px);
    backdrop-filter: blur(39px);
    
}
.motherbox{
    text-align: center;
    margin: auto auto;
}
.box {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #180000;
    margin: auto auto;
    width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: "Cursed Timer ULiL";
    color: red;
}
#box-periode {
    width: 50px;
    height: auto ;
    font-size: 50px; 
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 20px;
    color: goldenrod;
    
}
.textbox-periode {
    font-size: medium;
    font-style: oblique;
    margin-top: 4px;
}
.league {
    margin-top: 30px;
    width: 40%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    min-width:80px;
}
h3 {
    color: azure;
    font-size: x-large;
    font-family: 'Bebas Neue',sans-serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    margin-bottom: 20px;
    text-shadow: 2px solid black;
}
.btn {
    box-shadow:0px 10px 30px -5px rgba(120, 218, 0, 0.543);
    font-size: x-large;
    margin-top: 20px;
    width: 45px;
    height: 45px;
    background-color: #180000;
    border: none ;
    color: #0e5211 ;
     font-family: "Cursed Timer ULiL";
}
.btn:hover {
    cursor: none;
    background-color: #1f9729;
    box-shadow:0px 10px 50px -1px rgba(136, 255, 0, 0.763);
    border: none;
    transition: width 2s, height 2s, background-color 0.6s, transform 1s;
    color: rgb(200, 255, 206)
}
.btn:active {
    background-color: #22b32e;
}
#resetkawan {
    width: 70px;
   background-color: #180000;
    box-shadow:0px 10px 50px -1px rgba(255, 0, 0, 0.543);
    border: none solid rgb(207, 0, 0);
    font-size: large;
    color: #520e0e ;
}
#resetkawan:hover {
    background-color: darkred; 
    box-shadow:0px 10px 70px -1px rgba(255, 73, 73, 0.747);
    color: rgb(255, 203, 200)
} 
#resetlawan {
    background-color: #180000;
    width: 70px;
    box-shadow:0px 10px 50px -1px rgba(255, 0, 0, 0.543);
    border: none solid rgb(207, 0, 0);
    font-size: large;
    color: #520e0e ;
}
#resetlawan:hover {
    background-color: darkred;
    box-shadow:0px 10px 70px -1px rgba(255, 73, 73, 0.747);
    color: rgb(255, 200, 200)
}
#resetlawan:active {
    background-color: rgb(167, 45, 45);
}

.periodebtn {
  color: #fff;
  background-color: goldenrod;
  border:none;
  box-shadow:0px 10px 50px -1px rgba(170, 255, 0, 0.263);
  width: 50px;
  border-radius: 2px;
  font-family: "Cursed Timer ULiL";
  padding-bottom: 2px;
  padding-bottom: 1px;
}
.periodebtn:hover {
  box-shadow:0px 10px 70px -1px rgba(170, 255, 0, 0.747);
  background-color: rgb(218, 182, 91);
  cursor: pointer;
  border: none;
  transition: width 2s, height 2s, background-color 0.5s, transform 1s;
}

#reload {
    background-color: #180000;
    width: 70px;
    box-shadow:0px 10px 50px -1px rgba(255, 0, 0, 0.543);
    border: none;
    
    width: 30px;
}
#reload:hover {
        background-color: darkred;
    box-shadow:0px 10px 70px -1px rgba(255, 73, 73, 0.747);
    border: none;
}